      
      <p>Range Text: {{RangeText}}</p>
      <p>Chat Name: {{chatName}}</p>
      <p>Chat Text: {{chatText}}</p>
      <p>Chat Hour: {{chatHour}}</p>
      <p>Name: {{name}}</p>
      <p>Time: {{time}}</p>

